<!DOCTYPE html>

<htm>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <img class="portrait" src="/img/my_pic.jpg">
        </div>
                
        {{>footer}}
    </body>
</htm>