<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>A simple weather fetching site. It uses data from MapBox.com and DarkSky.net</p>
            <img class="portrait" src="/img/my_pic.jpg">
        </div>
                
        {{>footer}}
    </body>
</html>