<!DOCTYPE html>

<htm>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <h2>This is some helpful text.</h2>
        </div>


        {{>footer}}
    </body>
</htm>