<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <p>For any bugs found or queries, send me a mail at getoxdev@gmail.com<p></p>
    </div>
    
    {{>footer}}
</body>

</html>